@import '../variables/variables';
@import '../colors/colors';

.app-form-select {
    .mat-form-field-label {
        color: $disabledDarkEmphasis !important;
    }

    .mat-form-field-underline {
        display: none;
    }

    .mat-form-field-wrapper {
        border: 1px solid $dark-04 !important;
        border-radius: 4px;
        padding-bottom: 0;
    }

    .mat-select-arrow-wrapper {
        opacity: 0;
    }

    &--small {
        font-size: $font-size-10 !important;

        .mat-form-field-flex {
            padding: 0.5em 0.5em 0 0.5em !important;
        }

        .mat-form-field-infix {
            padding-bottom: 0.5em !important;
        }
    }

    &--no-label {
        .mat-form-field-flex {
            padding: 0.5em 0.5em 0.5em 0.5em!important;
            align-items: center;
            .mat-form-field-infix {
                border: none;
                padding: 0.45em 0.25em!important;
            }
        }
        .mat-form-field-suffix {
            .mat-icon-button {
                width: auto!important;
                height: auto!important;
            }
        }
    }

    &--w-f {
        width: 100%;
    }

    &--w-57 {
        width: 5.7 * $spacer;
    }
    &--w-62 {
        width: 6.2 * $spacer;
    }
    &--w-64 {
        width: 6.4 * $spacer;
    }
    &--w-77 {
        width: 7.7 * $spacer;
    }
    &--w-9 {
        width: 9 * $spacer;
    }
    &--w-95 {
        width: 9.5 * $spacer;
    }
    &--w-100 {
        width: 10 * $spacer;
    }
    &--w-117 {
        width: 11.7 * $spacer;
    }
    &--w-12 {
        width: 12 * $spacer;
    }
    &--w-135 {
        width: 13.5 * $spacer;
    }
    &--w-178 {
        width: 17.8 * $spacer;
    }

    &--short {
        width: 6 * $spacer;
    }
    &--medium {
        width: 10 * $spacer;
    }
    &--long {
        width: 15 * $spacer;
    }
    &--longest {
        width: 20.5 * $spacer;
    }
    &--full-width {
        width: 100%;
    }
    &--close {
        .mat-form-field-suffix {
            font-size: $font-size-8 !important;
            bottom: 0.25 * $spacer;
        }
    }

    &--search {
        width: 15 * $spacer;
        .mat-form-field-flex {
            padding-top: 0 !important;
            align-items: center;
        }

        .mat-form-field-infix {
            line-height: 0;
            border: 0 !important;
            padding: 0 !important;
        }

        &--small {
            width: 10 * $spacer !important;
            font-size: 9pt !important;
        }
    }

    &.mat-form-field-invalid {
        .mat-form-field-wrapper {
            border-color: $errorRed !important;
        }
        .mat-form-field-subscript-wrapper {
            padding-left: 0.5 * $spacer;
            padding-top: 1.5 * $spacer;
            font-size: $font-size-9;
        }
    }
}
