<footer class="app-footer app-d-f app-p-r">
    <div
        class="
            app-footer__container
            app-jc-sa app-m-0-a app-w-100 app-d-f
            ap-p-r
        "
    >
        <div>
            <p
                class="
                    app-footer__container__title
                    app-fw-b app-f-s-16 app-mb-1
                "
            >
                About
            </p>
            <div>
                <a
                    class="
                        app-footer__container__link
                        app-footer__container__link--disable
                        app-d-ib app-fw-n app-td-n app-mt-1 app-f-s-12
                    "
                    href=""
                    target="_blank"
                    rel="noopener noreferrer"
                    disabled="true"
                >
                    Who we are
                </a>
            </div>
            <div>
                <a
                    class="
                        app-footer__container__link
                        app-footer__container__link--disable
                        app-d-ib app-fw-n app-td-n app-mt-1 app-f-s-12
                    "
                    href=""
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Helpdesk
                </a>
            </div>
            <div>
                <a
                    class="
                        app-footer__container__link
                        app-footer__container__link--disable
                        app-d-ib app-fw-n app-td-n app-mt-1 app-f-s-12
                    "
                    href=""
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Contact
                </a>
            </div>
        </div>
        <div>
            <p
                class="
                    app-footer__container__title
                    app-fw-b app-f-s-16 app-mb-1
                "
            >
                Legal issues
            </p>
            <div>
                <a
                    class="
                        app-footer__container__link
                        app-footer__container__link--disable
                        app-d-ib app-fw-n app-td-n app-mt-1 app-f-s-12
                    "
                    href=""
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Terms of use
                </a>
            </div>
            <div>
                <a
                    class="
                        app-footer__container__link
                        app-footer__container__link--disable
                        app-d-ib app-fw-n app-td-n app-mt-1 app-f-s-12
                    "
                    href=""
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Warnings
                </a>
            </div>
            <div>
                <a
                    class="
                        app-footer__container__link
                        app-footer__container__link--disable
                        app-d-ib app-fw-n app-td-n app-mt-1 app-f-s-12
                    "
                    href=""
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Fees
                </a>
            </div>
            <div>
                <a
                    class="
                        app-footer__container__link
                        app-footer__container__link--disable
                        app-d-ib app-fw-n app-td-n app-mt-1 app-f-s-12
                    "
                    href=""
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Safety
                </a>
            </div>
            <div>
                <a
                    class="
                        app-footer__container__link
                        app-footer__container__link--disable
                        app-d-ib app-fw-n app-td-n app-mt-1 app-f-s-12
                    "
                    href=""
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Privacy Policy
                </a>
            </div>
        </div>
        <div>
            <p
                class="
                    app-footer__container__title
                    app-fw-b app-f-s-16 app-mb-1
                "
            >
                Information
            </p>
            <span class="app-d-b app-mt-1"></span>
            <div>
                <a
                    class="
                        app-footer__container__link
                        app-footer__container__link--disable
                        app-d-ib app-fw-n app-td-n app-mt-1 app-f-s-12
                    "
                    href=""
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    FAQ
                </a>
            </div>
            <div>
                <a
                    class="
                        app-footer__container__link
                        app-d-ib app-fw-n app-td-n app-mt-1 app-f-s-12
                    "
                    [attr.href]="(apiUrl | async) + '/swagger'"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    API
                </a>
            </div>
            <div>
                <a
                    class="
                        app-footer__container__link
                        app-d-ib app-fw-n app-td-n app-mt-1 app-f-s-12
                    "
                    [attr.href]="(apiUrl | async) + '/api-docs/index.html'"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Documentation
                </a>
            </div>
            <div>
                <a
                    class="
                        app-footer__container__link
                        app-d-ib app-fw-n app-td-n app-mt-1 app-f-s-12
                    "
                    [routerLink]="['/release']"
                    queryParamsHandling="preserve"
                >
                    Release
                </a>
            </div>
            <div>
                <a
                    class="
                        app-footer__container__link
                        app-d-ib app-fw-n app-td-n app-mt-1 app-f-s-12
                    "
                    [routerLink]="['/style-guide']"
                    queryParamsHandling="preserve"
                >
                    Style guide
                </a>
            </div>
            <div>
                <a
                    class="
                        app-footer__container__link
                        app-footer__container__link--disable
                        app-d-ib app-fw-n app-td-n app-mt-1 app-f-s-12
                    "
                    href=""
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Product
                </a>
            </div>
            <div>
                <a
                    class="
                        app-footer__container__link
                        app-footer__container__link--disable
                        app-d-ib app-fw-n app-td-n app-mt-1 app-f-s-12
                    "
                    href=""
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Payments
                </a>
            </div>
        </div>
    </div>

    <app-version-info></app-version-info>
</footer>
