@import '../../../../../../../styles/variables/variables.scss';
@import '../../../../../../../styles/colors/colors.scss';

.app-operations {
    .line-link-to-parent {
        margin-left: 1.35 * $spacer;
        background-color: $tableLinkLineColor;
        width: $tableLinkLineSize;
        bottom: $spacer + (1.2 * $spacer);
        position: relative;
    }

    .app-operations-table {
        background-color: $background;
        margin-top: $spacer;
        margin-bottom: $spacer;

        th,
        td:not(:first-child) {
            background-color: $tableBg1;
        }

        .mat-row:nth-last-child(2) {
            td:first-child {
                border-left: 0;
            }
        }

        .mat-column-parent-link {
            background-color: $background;
            border-top: 0;
            border-bottom: 0;
            display: flex;
            align-items: center;
            height: 2.5 * $spacer;
            padding: 0 !important;
            min-width: 1.5 * $spacer;

            .link {
                width: 100%;
                height: $tableLinkLineSize;
                background-color: $tableLinkLineColor;
            }
        }

        &__row__inner {
            height: 0 !important;
            padding: 0 !important;

            &__cell {
                background-color: $tableBg1;
                border-bottom: 0;

                table {
                    border-radius: $border-radius;
                    border-spacing: 0;
                    margin-top: $spacer;
                    margin-bottom: $spacer;
                }

                &--margin {
                    background-color: $background;
                }

                &--last-row {
                    position: relative;
                    border-left: 2px solid $background;
                    left: -2px;
                    bottom: 19px;
                }

                &--expanded {
                    border-bottom: 1px solid $elevation-03;
                }
            }

            &--hide-overlay {
                height: 0 !important;
                padding: 0 !important;
            }
        }
    }
}
