<mat-progress-spinner
    *ngIf="generalLedgerService.isDeFiImpactLoading"
    class="app-m-3-a"
    color="accent"
    mode="indeterminate"
>
</mat-progress-spinner>

<ng-container
    *ngIf="
        deFiImpactData.data.length > 0 &&
        !generalLedgerService.isDeFiImpactLoading
    "
>
    <table
        mat-table
        [dataSource]="deFiImpactData.data"
        class="app-de-fi-impact-table mat-elevation-z8 app-w-100"
        multiTemplateDataRows
    >
        <ng-container
            *ngFor="let column of columns"
            [matColumnDef]="column.columnDef"
        >
            <th mat-header-cell *matHeaderCellDef>
                <app-table-header-component
                    [column]="column"
                    [sortColumns]="sortColumns"
                    (sort)="sort($event.isButtonPressed, $event.columnDef)"
                ></app-table-header-component>
            </th>

            <td
                mat-cell
                *matCellDef="let pnlPriceMovement"
                [class.app-c-p]="column.tooltip"
                [ngSwitch]="column.columnType"
            >
                <ng-container *ngSwitchCase="'is-selected-icon'">
                    <div class="app-d-f app-ai-c">
                        <mat-icon
                            class="app-c-p"
                            (click)="expandPNLPriceMovement(pnlPriceMovement)"
                            >{{
                                pnlPriceMovement.isExpanded
                                    ? 'keyboard_arrow_down'
                                    : 'keyboard_arrow_right'
                            }}</mat-icon
                        >
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="'valueWithPercentageChange'">
                    <div class="app-d-f app-ai-c">
                        <span>
                            {{ column.cell(pnlPriceMovement) }}
                        </span>
                        <span
                            class="app-ml-05 {{
                                column.textColor(pnlPriceMovement)
                            }}"
                        >
                            {{ column.subCell(pnlPriceMovement) }}
                        </span>
                    </div>
                </ng-container>

                <ng-container *ngSwitchDefault>
                    <span>
                        {{ column.cell(pnlPriceMovement) }}
                    </span>
                </ng-container>
            </td>
        </ng-container>

        <ng-container
            *ngFor="let innerColumn of innerColumns"
            [matColumnDef]="innerColumn.columnDef"
        >
            <td
                class="app-de-fi-impact-table__inner-row__cell app-p-0"
                mat-cell
                *matCellDef="let row"
                [attr.colspan]="displayedColumns.length"
            >
                <div
                    [@detailExpand]="row.isExpanded ? 'expanded' : 'collapsed'"
                >
                    <div *ngIf="row.isExpanded">
                        <app-token-metrics-table
                            [pnlPriceMovement]="row"
                        ></app-token-metrics-table>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
            class="app-de-fi-impact-table__row__header"
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns; let i = dataIndex"
            class="app-de-fi-impact-table__row"
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedInnerColumns"
            class="
                app-de-fi-impact-table__row app-de-fi-impact-table__inner-row
            "
        ></tr>
    </table>

    <app-paginator
        [length]="deFiImpactData.total"
        [pageSize]="deFiImpactData.pageSize"
        [pageSizeOptions]="[10, 25, 50, 100, 250]"
        [pageIndex]="deFiImpactData.pageIndex"
        (page)="page($event.pageIndex, $event.pageSize)"
    >
    </app-paginator>
</ng-container>

<app-no-data-communicate
    *ngIf="
        !generalLedgerService.isDeFiImpactLoading &&
        deFiImpactData.data.length == 0
    "
    [data]="'de-fi-impact'"
>
</app-no-data-communicate>
