<div class="app-bg-c-ed03-lg app-pt-2 app-pb-4 usages">
    <div class="app-d-f app-fw-w usage-label app-jc-fe app-pl-2 app-pr-2 app-ai-c">
        <span class="app-f-s-9 app-bg-c-ed03 app-c-white-60 app-mr-1">Not used</span>
        <span class="app-f-s-9 app-bg-c-green-08 app-c-darkog-2 usage-label__usage app-mr-05">Usages</span>
        <span class="app-f-s-9 app-bg-c-sb2-08 app-c-sb-2 usage-label__analysed">Analysed pair</span>
    </div>
    <div class="usage-content app-d-f app-fw-w">
        <div class="usage-content__filter">
            <div class="usage-content__filter__header app-d-f app-fw-w app-ai-c app-jc-sb">
                <span class="app-c-hde">Currency pair usage analysis for wBTC/BTC</span>
                <mat-icon class="material-icons-outlined btn-filter cursor-pointer app-bg-c-ed01-lg">filter_alt
                </mat-icon>
            </div>
            <div class="usage-content__filter__form app-bg-c-ed01-lg">
                <form [formGroup]="filtersForm">
                    <div class="app-mb-1">
                        <p class="app-f-s-11 app-c-white-54 app-data-admin-address-labels__filter-container__title">Base
                            token</p>
                        <mat-form-field class="
                                app-form-select
                                app-form-select--no-label
                                app-form-select--small
                                app-form-select--w-f
                                app-d-f app-fd-c
                            " appearance="fill">
                            <input matInput type="text" data-lpignore="true" formControlName="baseToken" />
                            <mat-icon (click)="filtersForm.controls.baseToken.setValue('')"
                                *ngIf="filtersForm.controls.baseToken.value" matSuffix class="cursor-pointer">close
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="app-mb-15">
                        <p class="app-f-s-11 app-c-white-54 app-data-admin-address-labels__filter-container__title">
                            Quote token</p>
                        <mat-form-field class="
                                app-form-select
                                app-form-select--no-label
                                app-form-select--small
                                app-form-select--w-f
                                app-d-f app-fd-c
                            " appearance="fill">
                            <input matInput type="text" data-lpignore="true" formControlName="quoteToken" />
                            <mat-icon (click)="filtersForm.controls.quoteToken.setValue('')"
                                *ngIf="filtersForm.controls.quoteToken.value" matSuffix class="cursor-pointer">close
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <button mat-button class="mat-stroked-button app-mr-05 app-important" matTooltip="Filter">
                        Filter
                    </button>
                </form>
            </div>
            <div
                class="app-d-f app-jc-c"
                *ngIf="isLoading"
            >
                <mat-progress-spinner class="app-m-3-a" color="accent" mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <table
                *ngIf="!isLoading"
                mat-table
                [dataSource]="data"
                class="app-table app-table__striped app-table__expand-column app-w-100"
            >

                <ng-container matColumnDef="provider">
                    <th mat-header-cell *matHeaderCellDef>
                        Provider
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.provider }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="pairName">
                    <th mat-header-cell *matHeaderCellDef>
                        Pair name
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.pairName }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="dataQuality">
                    <th mat-header-cell *matHeaderCellDef>
                        Data quality
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <div [class.app-c-green]="row.dataQuality==='Completed'"
                            [class.app-c-yellow]="row.dataQuality==='Scheduled'"
                            [class.app-c-blue]="row.dataQuality==='Running'"
                            [class.app-c-red]="row.dataQuality==='Failed'">
                            <mat-icon>{{ currencyIcon[row.dataQuality] }}</mat-icon>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="dataProvider">
                    <th mat-header-cell *matHeaderCellDef>
                        Data provider
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <div [class.app-c-green]="row.dataProvider==='Completed'"
                            [class.app-c-yellow]="row.dataProvider==='Scheduled'"
                            [class.app-c-blue]="row.dataProvider==='Running'"
                            [class.app-c-red]="row.dataProvider==='Failed'">
                            <mat-icon>{{ currencyIcon[row.dataProvider] }}</mat-icon>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay"
                    class="cursor-pointer"
                    [ngClass]="{ 'app-bg-c-p1-012': selectedRow === row.provider }"
                    (click)="selectedRow = row.provider"></tr>
            </table>
        </div>
        <div class="usage-content__diagram app-f-1">
            <svg #diagram>
                <foreignObject
                    *ngFor="let node of nodes"
                    [attr.x]="node.x"
                    [attr.y]="node.y"
                    [attr.width]="this.widthNode"
                    [attr.height]="this.heightNode"
                >
                    <body xmlns="http://www.w3.org/1999/xhtml" class="dg-body usage-label">
                        <xhtml:span 
                            class="app-f-s-9 app-bg-c-ed03 usage-label__{{ node.status }}"
                            [ngClass]="{
                                'app-c-white-60': node.status === 'not_used',
                                'app-bg-c-green-08 app-c-darkog-2': node.status === 'usage',
                                'app-bg-c-sb2-08 app-c-sb-2': node.status === 'analysed'
                            }"
                            [ngStyle]="{'width': this.widthNode + 'px'}"
                        >{{ node.name }}</xhtml:span>
                    </body>
                </foreignObject>
                <path
                    *ngFor="let links of links"
                    [attr.d]="links.path"
                    [attr.stroke]="links.color"
                    stroke-width="2"
                    fill="none"
                />
            </svg>
        </div>
    </div>
</div>