.app-logo-icon {
    border-radius: 50%;

    &--small {
        width: 1.75rem;
        height: 1.75rem;
    }

    &--medium {
        width: 4rem;
        height: 4rem;
    }

    &--large {
        width: 8rem;
        height: 8rem;
    }
}
