<div class="app-home-page">
    <nav class="app-home-page__navbar" id="page-top">
        <div class="app-home-page__navbar__container">
            <a class="app-home-page__navbar__container__brand" href="#page-top"
                >Wormhole</a
            >
            <div>
                <ul class="app-home-page__navbar__container__nav">
                    <li>
                        <a
                            class="app-home-page__navbar__container__nav__link"
                            href="#about"
                            >About</a
                        >
                    </li>
                    <li>
                        <a
                            class="app-home-page__navbar__container__nav__link"
                            href="#team"
                            >Team</a
                        >
                    </li>
                    <li>
                        <a
                            class="app-home-page__navbar__container__nav__link"
                            href="#platform"
                            >Platform</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="app-home-page__header">
        <div class="app-home-page__header__container app-d-f app-ai-c">
            <div class="app-mr-a app-ml-a app-ta-c">
                <h1
                    class="
                        app-home-page__header__container__title
                        app-mr-a app-ml-a
                    "
                >
                    Wormhole
                </h1>
                <h2 class="app-home-page__header__container__subtitle">
                    Automated DeFi cryptocurrency reporting for Administrators
                </h2>
                <button
                    class="app-home-page__header__container__button"
                    (click)="onAppClick()"
                >
                    App
                </button>
            </div>
        </div>
    </header>

    <section class="app-home-page__information app-ta-c" id="about">
        <div class="app-home-page__information__container">
            <div
                class="
                    app-home-page__information__container__section
                    app-ml-a app-mr-a
                "
            >
                <h2
                    class="
                        app-home-page__information__container__section__title
                    "
                >
                    Wormhole Introduction
                </h2>

                <p
                    class="
                        app-home-page__information__container__section__paragraph
                    "
                >
                    Wormhole is a revolutionary new portfolio tracking software,
                    engineered specifically to tackle the new pricing and
                    tracking issues figuresented by DeFi investments.
                </p>
                <p
                    class="
                        app-home-page__information__container__section__paragraph
                    "
                >
                    While administrators and tax professionals have largely
                    solved the crypto issues raised by CeFi, DeFi is unsolved.
                    Presently, administrators typically handle DeFi composite
                    transactions, airdrops, and derivative transactions with
                    spreadsheet technology.
                </p>
                <p
                    class="
                        app-home-page__information__container__section__paragraph
                    "
                >
                    This results in arbitrary pricing that often can’t be
                    replicated independently and there is no systematic chain
                    tracking of component investments.
                </p>
                <p
                    class="
                        app-home-page__information__container__section__paragraph
                    "
                >
                    Wormhole enables administrators and tax professionals to
                    achieve 100% verifiable on chain tracking and historical
                    derivative pricing across 90 DeFi protocols, which represent
                    95% of the active market, thus bringing the administrator
                    role in DeFi in line with the replicability and accuracy of
                    other asset classes. Wormhole can track and price any DeFi
                    wallet address in an independently replicable process on a
                    current or historical basis.
                </p>
            </div>

            <div
                class="
                    app-home-page__information__container__section
                    app-home-page__information__container__section--team
                    app-ml-a app-mr-a
                "
                id="team"
            >
                <h2
                    class="
                        app-home-page__information__container__section__title
                    "
                >
                    Team and Market
                </h2>

                <p
                    class="
                        app-home-page__information__container__section__paragraph
                    "
                >
                    Wormhole was created by a team of 10 developers brought
                    together last year by Jason Stone, one of the single largest
                    DeFi investors.
                </p>
                <p
                    class="
                        app-home-page__information__container__section__paragraph
                    "
                >
                    We run 2 archive nodes which are full independent copies of
                    the history of the blockchain that enables our tracking and
                    categorization of blockchain transactions.
                </p>
                <p
                    class="
                        app-home-page__information__container__section__paragraph
                    "
                >
                    The team consists of 4 blockchain engineers and 6 front end
                    engineers with a combined 30 years of blockchain programming
                    experience, dating back to the first days of crypto.
                </p>
                <p
                    class="
                        app-home-page__information__container__section__paragraph
                    "
                >
                    DeFi is the fastest growing part of crypto and that is
                    expected to continue to eclipse large parts of CeFi over the
                    medium term.
                </p>
                <p
                    class="
                        app-home-page__information__container__section__paragraph
                    "
                >
                    However, many larger investors have remained on the
                    sidelines in part because of the tracking issues and
                    subjective valuations created with the shift from CeFi to
                    DeFi. Wormhole solves this.
                </p>
            </div>
        </div>
    </section>

    <section class="app-home-page__platform" id="platform">
        <div class="app-home-page__platform__container">
            <h3 class="app-home-page__platform__title app-mb-3">
                Wormhole Platform
            </h3>

            <div class="app-home-page__platform__views app-d-f app-jc-c">
                <div class="app-home-page__platform__views__container">
                    <div>
                        <div class="app-d-f app-max-w-100-r app-jc-sa">
                            <div
                                class="
                                    app-home-page__platform__views__container__element
                                    app-max-w-30-r
                                    app-mr-1
                                    app-d-f
                                    app-jc-sb
                                    app-fd-d-c
                                "
                            >
                                <h3 class="app-home-page__platform__title">
                                    Asset View
                                </h3>
                                <img
                                    class="app-w-100"
                                    src="assets/img/asset-view.png"
                                    alt="asset-view"
                                />
                                <p
                                    class="
                                        app-home-page__platform__views__container__element__description
                                    "
                                >
                                    Asset allocation by platform with detailed
                                    breakdown of funds allocation types
                                </p>
                            </div>
                            <div
                                class="
                                    app-max-w-60-r
                                    app-ml-1
                                    app-d-f
                                    app-jc-sb
                                    app-fd-c
                                "
                            >
                                <div
                                    class="
                                        app-home-page__platform__views__container__element
                                    "
                                >
                                    <h3 class="app-home-page__platform__title">
                                        Portfolio Overview
                                    </h3>
                                    <img
                                        class="app-w-100"
                                        src="assets/img/portfolio-overview.png"
                                        alt="portfolio-overview"
                                    />
                                    <p
                                        class="
                                            app-home-page__platform__views__container__element__description
                                        "
                                    >
                                        Birds-eye view of the portfolio’s KPI
                                        with ability to create reports
                                    </p>
                                </div>
                                <div
                                    class="
                                        app-mt-1
                                        app-home-page__platform__views__container__element
                                    "
                                >
                                    <h3 class="app-home-page__platform__title">
                                        Transactions View
                                    </h3>
                                    <img
                                        class="app-w-100"
                                        src="assets/img/transactions-view.png"
                                        alt="transactions-view"
                                    />
                                    <p
                                        class="
                                            app-home-page__platform__views__container__element__description
                                        "
                                    >
                                        Detailed transaction view with ability
                                        to adjust transaction type
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="app-d-f app-max-w-100-r app-jc-sa app-mt-2">
                            <div
                                class="
                                    app-max-w-60-r app-mr-1
                                    app-home-page__platform__views__container__element
                                "
                            >
                                <h3 class="app-home-page__platform__title">
                                    Report Wizard
                                </h3>
                                <img
                                    class="app-w-100"
                                    src="assets/img/report-wizard.png"
                                    alt="transactions-view"
                                />
                                <p
                                    class="
                                        app-home-page__platform__views__container__element__description
                                    "
                                >
                                    Design and create periodic reports based on
                                    predefined filter criteria
                                </p>
                            </div>
                            <div
                                class="
                                    app-max-w-30-r app-ml-1
                                    app-home-page__platform__views__container__element
                                "
                            >
                                <h3 class="app-home-page__platform__title">
                                    Profit And Loss View
                                </h3>
                                <img
                                    class="app-w-100"
                                    src="assets/img/profit-and-loss-view.png"
                                    alt="profit-and-loss-view"
                                />
                                <p
                                    class="
                                        app-home-page__platform__views__container__element__description
                                    "
                                >
                                    Chart representing portfolio performance
                                    over time with detaild analysis against
                                    single point in time
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="app-home-page__information app-ta-c">
        <div class="app-home-page__information__container">
            <div
                class="
                    app-home-page__information__container__section
                    app-ml-a app-mr-a
                "
            >
                <h2
                    class="
                        app-home-page__information__container__section__title
                    "
                >
                    Wormhole Functionality
                </h2>

                <p
                    class="
                        app-home-page__information__container__section__paragraph
                    "
                >
                    Wormhole encompass functionality required for full portfolio
                    valuation but will be used as part of administrator’s larger
                    application:
                </p>
                <p
                    class="
                        app-home-page__information__container__section__paragraph
                    "
                >
                    <b>Tracking and categorization</b> of blockchain
                    transactions
                </p>
                <p
                    class="
                        app-home-page__information__container__section__paragraph
                    "
                >
                    <b>Calculating</b>
                    funds allocation per platform; deposits, loans, etc
                </p>
                <p
                    class="
                        app-home-page__information__container__section__paragraph
                    "
                >
                    <b>Current and historical</b> view of the portfolio net
                    worth and profit calculation
                </p>
                <p
                    class="
                        app-home-page__information__container__section__paragraph
                    "
                >
                    <b>Native asset</b> pricing engine for tradable as well as
                    derivative assets
                </p>
                <p
                    class="
                        app-home-page__information__container__section__paragraph
                    "
                >
                    <b>Support for NFT</b> pricing and valuation
                </p>
                <p
                    class="
                        app-home-page__information__container__section__paragraph
                    "
                >
                    <b>Configurable pricing curves</b> for fair valuation of all
                    assets
                </p>
                <p
                    class="
                        app-home-page__information__container__section__paragraph
                    "
                >
                    <b>Smart Contract</b> address book and method call
                    definitions for better insight into blockchain related
                    transactions
                </p>
            </div>
        </div>
    </section>

    <footer class="app-home-page__footer app-f-s-8">
        <div class="app-home-page__footer__container">
            Copyright © Wormhole 2021
        </div>
    </footer>
</div>
