@import "../../../../../../styles/mixins/scrollbar.scss";

.app-pnl-progress-items-wrapper {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.07)), #121212;
  border-bottom: 2px solid rgba(255, 255, 255, 0.12);
  padding-top: 22px;
  overflow: auto;
  @include scrollbar;
  .app-pnl-progress-item {
    border-bottom: 2px solid transparent;
    &.active {
      border-bottom-color: rgba(255, 255, 255, 0.87);
    }
    cursor: pointer;
  }
}
