@import '../../../../../styles/variables/variables.scss';
.app-data-admin-address-labels {
    .th-icon {
        font-size: 16px;
        top: 4px;
        position: relative;
    }
    .transaction-info {
        display: flex;
        padding: 22px 24px;
        background: $amber;
        color: $black;
        margin-bottom: 31px;
        &__text {
            flex: 1;
            span {
                margin-left: 12px;
            }
        }
        .mat-stroked-button {
            border-color: $highEmphasis-1;
        }
    }
    &__filter-container {
        &__title {
            margin-bottom: 7px;
        }
        .buttons {
            button {
                height: 41px;
            }
        }
    }
}