@import '../../../styles/variables/variables';

.app-main {
    &__toolbar {
        height: 3 * $spacer !important;
    }
    &__basic-container {
        min-height: 80vh;
    }

    &__wallet-button {
        max-width: 8 * $spacer;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
