<div class="app-w-100">
    <div class="app-d-f app-jc-sb">
        <div class="app-mb-05 app-mt-05">
            <app-date-range-inputs></app-date-range-inputs>
        </div>
    </div>

    <mat-progress-spinner
        *ngIf="isBlockchainMessagesLoading"
        class="app-m-3-a"
        color="accent"
        mode="indeterminate"
    >
    </mat-progress-spinner>

    <div
        *ngIf="!isBlockchainMessagesLoading && blockchainMessagesData.total > 0"
    >
        <app-basic-dynamic-table
            [dataSource]="blockchainMessagesData.data"
            [columns]="messagesColumns"
            [sortColumns]="sortColumns"
            (sort)="sort($event)"
            [pageIndex]="blockchainMessagesData.pageIndex"
            [pageSize]="blockchainMessagesData.pageSize"
            [length]="blockchainMessagesData.total"
            [isPaginatedTable]="isPaginatedTable"
        ></app-basic-dynamic-table>
    </div>

    <app-no-data-communicate
        *ngIf="
            !isBlockchainMessagesLoading && blockchainMessagesData.total === 0
        "
        [data]="'messages'"
    >
    </app-no-data-communicate>
</div>
