<div class="app-data-admin-address-labels-jobs">
    <div class="app-pl-1 app-data-admin-address-labels-jobs__new-report-form app-mt-15 app-mb-15 app-d-f app-jc-sb app-pr-1 app-ai-c">
        <p class="app-f-s-14 app-mb-0 app-important">Worker Status</p>

        <div class="app-d-f app-ai-c">
            <div class="app-d-f app-ai-c">
                <span class="app-mr-05 app-important">Most recent runs only</span>
                <mat-slide-toggle [checked]="'true'"></mat-slide-toggle>
            </div>
            <button
                class="
                    app-platform-toolbar__filter
                    app-c-hde app-important
                "
                mat-icon-button
                aria-label="Filter button"
                matTooltip="Filter reports (TBD)"
                matBadgeSize="medium"
                disabled
            >
                <mat-icon class="material-icons-outlined"
                    >filter_alt</mat-icon
                >
            </button>
            <div class="app-d-f app-platform__toolbar__search">
                <input
                    *ngIf="isSearchInputOpen"
                    matInput
                    placeholder="Preset Name"
                    class="
                        app-platform__toolbar__search__input
                        app-mat-input
                        app-fw-400
                        app-w-100
                        app-bs-bx
                        app-important
                        app-p-0-05
                    "
                    name="searching"
                    [(ngModel)]="searchQuery"
                    (keyup)="handleKeyUp($event)"
                />

                <button
                    mat-icon-button
                    class="app-button app-button--small app-d-f"
                    (click)="onSearchButtonClick()"
                >
                    <mat-icon>{{
                        isSearchInputOpen ? 'close' : 'search'
                    }}</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <table mat-table [dataSource]="addressLabelJobData.data"
        class="app-table app-table__striped app-table__expand-column app-w-100">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>
                Worker task ID
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.id }}
            </td>
        </ng-container>

        <ng-container matColumnDef="agent">
            <th mat-header-cell *matHeaderCellDef>
                Agent
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.agent }}
            </td>
        </ng-container>

        <ng-container matColumnDef="runCount">
            <th mat-header-cell *matHeaderCellDef>
                Run count
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.runCount }}
            </td>
        </ng-container>

        <ng-container matColumnDef="sessionID">
            <th mat-header-cell *matHeaderCellDef>
                Session ID
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.sessionID }}
            </td>
        </ng-container>

        <ng-container matColumnDef="scheduled">
            <th mat-header-cell *matHeaderCellDef>
                Scheduled
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.scheduled | date:"dd/MM/yy h:mm a" }}
            </td>
        </ng-container>

        <ng-container matColumnDef="started">
            <th mat-header-cell *matHeaderCellDef>
                Started
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.started | date:"dd/MM/yy h:mm a" }}
            </td>
        </ng-container>

        <ng-container matColumnDef="completed">
            <th mat-header-cell *matHeaderCellDef>Completed</th>
            <td mat-cell *matCellDef="let row">
                {{ row.completed | date:"dd/MM/yy h:mm a" }}
            </td>
        </ng-container>

        <ng-container matColumnDef="provider">
            <th mat-header-cell *matHeaderCellDef>Provider</th>
            <td mat-cell *matCellDef="let row">
                {{ row.provider }}
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let row">
                <span
                    [class.app-c-green]="row.status==='Completed'"
                    [class.app-c-purple]="row.status==='Scheduled'"
                    [class.app-c-blue]="row.status==='Running'"
                    [class.three-dots-runing]="row.status==='Running'"
                    [class.app-c-red]="row.status==='Failed'">
                    {{ row.status }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef>Active</th>
            <td mat-cell *matCellDef="let row">
                <div class="app-d-f app-fw-w">
                    <mat-slide-toggle [checked]="row.active"></mat-slide-toggle>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="isSelected">
            <th mat-header-cell *matHeaderCellDef>Select</th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox></mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let row">
                <span class="app-d-f">
                    <mat-icon class=" cursor-pointer" [matMenuTriggerFor]="menu">more_horiz</mat-icon>
                    {{ row.type }}
                </span>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <span>Processing logs</span>
                    </button>
                    <button mat-menu-item>
                        <span>Run now</span>
                    </button>
                    <button mat-menu-item>
                        <span>Remove lock</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <app-paginator
        [length]="addressLabelJobData.total"
        [pageSize]="addressLabelJobData.pageSize"
        [pageSizeOptions]="[10, 25, 50, 100, 250]"
        [pageIndex]="addressLabelJobData.pageIndex"
        (page)="page($event.pageIndex, $event.pageSize)"
    >
    </app-paginator>
</div>
